.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 80px;
  width: 200px;
}

.button button--secondary button--lg{
  background-color: blue;
}